@model YiZhan.ViewModels.ApplicationOrganization.ApplicationUserResetPasswordVM
@using YiZhan.CustomMvcCoreExtension;
@using YiZhan.Common.ViewModelComponents.ForMvcHelper

<div id="resetUserPassword_@Model.Id">
    <div class="yiZhanDefaultArea" data-text="" id="">
        <form action="../../ApplicationUser/SaveResetUserPassword" method="post"  id="ResetUserPasswordForm" 
              data-ajax-update='#resetUserPassword_@Model.Id'
              data-ajax-mode='replace'
              data-ajax='true'>

            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
            <div class="form-horizontal">
                @{
                    var inputForMobilePassword = new HtmlInputItemSpecification()
                    {
                        ItemId = "Password",
                        ItemDisplayName = "密码",
                        ItemValue = Model.Password,
                        PlaceholderString = "请输入密码，密码长度大于6个字符",
                        AutofocusName = "",
                        OnfocusFuntion = "clearErrStyle(this.id)",
                        OnBlurFunction = ""
                    };
                    @Html.YiZhanBoorStrapInputPassword(inputForMobilePassword)

                    var inputForMobileConfirmPassword = new HtmlInputItemSpecification()
                    {
                        ItemId = "ConfirmPassword",
                        ItemDisplayName = "重复密码",
                        ItemValue = Model.ConfirmPassword,
                        PlaceholderString = "请重复输入与上面密码相同的内容。",
                        AutofocusName = "",
                        OnfocusFuntion = "clearErrStyle(this.id)",
                        OnBlurFunction = ""
                    };
                    @Html.YiZhanBoorStrapInputPassword(inputForMobileConfirmPassword)
                }

            </div>
        </form>
    </div>
</div>
