<!-- 模态框（Modal） -->
<div class="modal fade yzModalCenter" id="adCommonCommodityModal" tabindex="-1" role="dialog"
     aria-labelledby="adCommonCommodityModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    正在审核
                </h4>
            </div>
            <div class="modal-body" id="contentArea">
                
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn yzFormBtn leftSaveBtn" onclick="EditCommodity()">保存</button>
                <button type="button" class="btn yzFormBtn" data-toggle="modal" data-target="#adCommonCommodityModal">取消</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>