
.ourTeam{width:1200px;min-width:1200px;height:auto;margin:0 auto;
background: #fff;padding: 20px 0;}
.ourTeamHead{width: 1200px;height: 100px;text-align: center;}
.ourTeamContent {}
.ourTeamCol{height: 230px;margin: 20px 0;}
.ourTeamCol:nth-child(odd) .ourTeamAvatar{text-align: right;}
.ourTeamCol:nth-child(even) .ourTeamAvatar{text-align: left;}
.ourTeamAvatar img{width: 200px;height: 200px;border-radius: 50%!important;}
.ourTeamMemberDescrpiton{
	border-top:1px solid #f2f2f3 ;padding-top: 10px;
	height: 100px;text-overflow:ellipsis;display: -webkit-box;
    -webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;
     /*-webkit-line-clamp用来限制在一个块元素显示的文本的行数。 为了实现该效果，它需要组合其他的WebKit属性。常见结合属性：
     display: -webkit-box; 必须结合的属性 ，将对象作为弹性伸缩盒子模型显示 。
     -webkit-box-orient 必须结合的属性 ，设置或检索伸缩盒对象的子元素的排列方式 。*/
	text-indent: 2em;
	}
.ourTeamCircle{
	width: 30px;height: 30px;display: inline-block;
	border-radius: 50%!important;background: #62bcfa;
	vertical-align: middle;text-align: center;line-height: 30px;color: #fff;
	text-decoration: none;
	}
.ourTeamLeftPadding{padding-left: 30px;}
.ourTeamCol:nth-child(odd) .col-md-7{width: 320px;}
.ourTeamCol:nth-child(even) .col-md-7{width: 320px;}
.ourTeamCol:nth-child(even) .col-md-5{padding-left: 40px;}
.ourTeamFontColor{color: #a6a6a6;}