@{
    Layout = "_LayoutForIndex";
    ViewData["Title"] = "使用条款和声明";
}
<div style="width:100%;margin:10px 0px;">
    <div class="text-center" style="width:100%;margin:0 auto;width:1200px;height:380px;">
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>
        <p>Use this area to provide additional information.</p>


        <h3>网站使用条款（示例）</h3>
        <p>条款1.这里是条款内容项</p>
        <p>条款2.这里是条款内容项</p>

        <h3>网站声明（示例）</h3>
        <p>声明1.这里是声明内容项</p>
        <p>声明2.这里是声明内容项</p>
    </div>
</div>