@{
    Layout = "_LayoutForIndex";
    ViewData["Title"] = "关于易站";
}
<div class="yzContentTop" style="width:100%;margin:10px 0px;">
    <div class="text-center" style="width:100%;margin:0 auto;width:1200px;height:380px;">
        <h2>@ViewData["Title"].</h2>
        <h3>@ViewData["Message"]</h3>

        <p>Use this area to provide additional information.</p>
    </div>
</div>

