@{
    Layout = "_LayoutForIndex";
    ViewData["Title"] = "联系我们";
}

<div class="yzContentTop" style="width:100%;margin:10px 0px;">
    <div class="text-center" style="width:100%;margin:0 auto;width:1200px;height:380px;">
        <h2>@ViewData["Title"].</h2>
        <h3>@ViewData["Message"]</h3>

        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>
