@{
    Layout = "_LayoutForIndex";
    ViewData["Title"] = "版权声明";
}

<div class="yzContentTop" style="width:100%;margin:10px 0px;">
    <div class="text-center" style="width:100%;margin:0 auto;width:1200px;height:380px;">
        <h2>@ViewData["Title"].</h2>
        <h3>@ViewData["Message"]</h3>
        <h3>本源码仅供学习和交流使用，不允许做商业用途！</h3>
        <h3>若需要商业使用，请联系开发团队！</h3>
        <h3>
              <a class="btn-lg" href="../../Home/OurTeam">查看设计团队成员</a> 
        </h3>      
    </div>
</div>
