@{
    Layout = "_LayoutForIndex";
    ViewData["Title"] = "手机易站丨易站APP下载";
}
<div class="yzContentTop" style="width:100%;margin:10px 0px;">
    <div class="text-center" style="width:100%;margin:0 auto;width:1200px;height:500px;">
        <div style="padding-top:100px;">
            <h2>@ViewData["Title"].</h2>
            <h3>@ViewData["Message"]</h3>

            <p>这里可以做个下载APP的界面</p>
        </div>

    </div>
</div>

