@{
    Layout = "_LayoutForIndex";
    ViewData["Title"] = "404咯Ծ‸Ծ~";
}
<div id="errorpage">
    <div class="errorpage-content">
        <div class="tfans_error">
            <div class="logo"></div>
            <div class="errortans clearfix">
                <div class="e404"></div>              
                <p><b>出错啦！</b></p>
                <p class="text-center">@ViewData["Message"]</p>
                <div class="bt"><a href="/">返回首页</a></div>
            </div>
        </div>
    </div>
</div>