@{
    ViewData["Title"] = "(´థ౪థ)σ亲，不要搞事情哦~";
    Layout = "_LayoutForIndex";
}
<div class="aWarmWarningArea" id="aWarmWarningArea">
    <div class="aWarmWarningContent text-center">
        <img src="~/images/SystemDefault/images/errors/gaoshiqing.jpg" alt="搞事情" />
        <hr />
        <h4>Ծ‸Ծ,亲不要搞事情哦~</h4>
        <p class="yzError">@ViewBag.WarningMessage</p>
    </div>
</div>
@*<script type="text/javascript">
    document.getElementsByTagName("body")[0].style.background = "#fafafa";
</script>*@