<!--底部内容 用于局部页面 分开-->
<div class="foot" id="foot">
    <div class="foot-friendLinks">
        <ul>
            <li class="FriendshipLinksTitle"><h3>友情链接：</h3></li>
        </ul>
    </div>
    <div class="foot-usLinks">
        <div class="usLinks-About">
            <ul>
                <li><a href="../../Home/About">关于易站</a></li>
                <li><a href="../../Home/Contact">联系我们</a></li>
                <li><a href="../../Home/CopyRight" class="redColor">版权声明</a></li>
                <li><a href="javascript:">合作伙伴</a></li>
                <li><a href="javascript:">联系客服</a></li>
                <li><a href="javascript:">知识产权</a></li>
                <li><a href="javascript:">法律声明及隐私权政策</a></li>
            </ul>
            <div class="usLinks-Copyright">
                <p> 
                    Copyright&copy;
                    <span id="cStartTime"></span> - <span id="cEndTime"></span>
                    &nbsp;<a href="/" class="copyrightInfo">易站校园</a>
                    &nbsp;All Right Reserved
                </p>
            </div>
        </div>
        <div class="usLinks-Licence">
            <ul>
                <li>网络文化经营许可证：<a href="javascript:">某网文[2018]0000-000号</a></li>
                <li>增值电信业务许可证：<a href="javascript:">某A0-00000000</a></li>
                <li>易站官方邮箱：<span id="YiZhanEmail"></span></li>
                <li>网站备案：<span id="YiZhanICP"></span></li>
            </ul>
        </div>
    </div>
    <div class="foot-imgLinks">
        <ul>
            <li><a style="width: 35px;" href="javascript:"></a></li>
            <li><a class="bgIMG" style="background-position: 0px 0;width: 30px;" href="javascript:"></a></li>
            <li><a class="bgIMG" style="background-position: -40px 0;width: 33px;" href="javascript:"></a></li>
            <li><a class="bgIMG" style="background-position: -80px 0;width: 50px;" href="javascript:"></a></li>
            <li><a class="bgIMG" style="background-position: -140px 0;width: 83px;" href="javascript:"></a></li>
            <li><a class="bgIMG" style="background-position: -240px 0;width: 94px;" href="javascript:"></a></li>
            <li><a class="bgIMG" style="background-position: -431px 0px;width: 214px;" href="javascript:"></a></li>
            <li><a class="bgIMG" style="background-position: -650px 0;width: 105px;" href="javascript:"></a></li>
            <li><a class="bgIMG" style="background-position: -345px 0;width: 82px;" href="javascript:"></a></li>
        </ul>
    </div>
</div>
