<!-- 用于处理重置密码操作的弹出会话框 -->
<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">重置密码</h4>
            </div>
            <div class="modal-body"  id="resetPasswordArea">
            </div>
            <div class="modal-footer">
                <p class="pull-left" style="color:orangered" id="resetPasswordModalTip"> 在重置密码后需要通知相关的人员。</p>
                <button type="button" class="btn btn-primary" onclick="resetUserPassword()">确认</button>
            </div>
        </div><!-- /.会话框的内容 -->
    </div><!-- /.会话框形式 -->
</div><!-- /.modal -->
