@model YiZhan.ViewModels.BusinessManagement.CommodityVM.Shopping.YZ_BuyStatusVM
@{
    ViewData["Title"] = "支付结果";
    Layout = "~/Views/Shared/_LayoutForIndex.cshtml";

    bool showJumpBtn = false;
}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h3 style="padding-left:65px;">支付结果</h3>
            <div class="payedDiv">

                <div class="payedTextDiv @(Model.IsOK?"payedTextDivSuccess":"payedTextDivError")">
                    @if (!Model.IsOK && Guid.Empty.Equals(Model.OrderId) && Model.CommodityState != null)
                    {
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    }
                    else if (!Model.IsOK && !Guid.Empty.Equals(Model.OrderId))
                    {
                        //请勿重复支付
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                        showJumpBtn = true;
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-ok text-success"></span>
                        showJumpBtn = true;
                    }

                    <span>@Model.Info</span>
                </div>
                @if (showJumpBtn)
                {
                    <div class="payedAddressInfo">
                        <ul>
                            @*<li>收货地址： 北京市 朝阳区 天安门 3栋 2单元 402室 </li>*@
                            <li>订单号：@Model.OrderId</li>
                            <li>商品名称：@Model.OrderInfo.Commodity.Name</li>
                            <li>
                                实付款：<span class="payedInfoPrice">
                                    ￥@Model.OrderInfo.Price
                                </span>
                            </li>
                            <li>下单时间：@Model.OrderInfo.CreateTime.ToString("yyyy-MM-dd hh:mm:ss")</li>
                            <li>完成时间：@Model.OrderInfo.CompletionTime.ToString("yyyy-MM-dd hh:mm:ss")</li>
                            <li>@*预计08月08日送达*@</li>
                        </ul>

                        <div class="paedCheckLinkDiv">
                            您可以
                            <a href="#nowhere" class="payedCheckLink">查看已买到的宝贝</a>
                            <a href="#nowhere" class="payedCheckLink">查看交易详情 </a>
                        </div>
                    </div>
                }
                <div class="payedSeperateLine">
                </div>
                <div class="warningDiv">
                    <img src="http://how2j.cn/tmall/img/site/warning.png">
                    <b>安全提醒：</b>下单后，<span class="redColor boldWord">用QQ给您发送链接办理退款的都是骗子！</span>易站不存在系统升级，订单异常等问题，谨防假冒客服电话诈骗！
                </div>
            </div>

        </div>
    </div>
</div>


