@{
    Layout = null;
}

<!-- 模态框（Modal） -->
<div class="modal fade yzModalCenter" id="editAdvertisementModal" tabindex="-1" role="dialog"
     aria-labelledby="editAdvertisementModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="ModalContentArea">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
